[submodule "_plugins/tmux/powerline"]
	path = _plugins/tmux/powerline
	url = git://github.com/Lokaltog/powerline.git
[submodule "_fonts/powerline"]
	path = _fonts/powerline
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "_zsh/git-flow-completion"]
	path = _zsh/git-flow-completion
	url = git://github.com/bobthecow/git-flow-completion.git
