[submodule ".plugins/tmux/powerline"]
	path = .plugins/tmux/powerline
	url = git://github.com/Lokaltog/powerline.git
[submodule ".fonts/powerline"]
	path = .fonts/powerline
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule ".zsh/git-flow-completion"]
	path = .zsh/git-flow-completion
	url = git://github.com/bobthecow/git-flow-completion.git
